<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1348</string>
  <key>com.schriftgestaltung.customName</key>
  <string>Book</string>
  <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
  <dict>
    <key>XXXX</key>
    <dict>
      <key>0</key>
      <integer>0</integer>
    </dict>
    <key>wdth</key>
    <dict>
      <key>100</key>
      <integer>100</integer>
    </dict>
    <key>wght</key>
    <dict>
      <key>400</key>
      <integer>400</integer>
      <key>800</key>
      <integer>800</integer>
    </dict>
  </dict>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/u1000_u1001_u103B/u100B_u100B/u100D_u100D/u100F_u100B/u100F_u100D/u1014_u1010_u103B/u1014_u1010_u103C/u101E_u1010_u103C/u1020_u1020/u1001/u1005/u102C/u1006/u1007/u1008/u100D/u100F/u1013/u1016/u1019/u101B/u1020_u103E/u1021/u1023/u1026/u1027/u102A/u1031 
/space/u103B_u103D/space/space/u103B_u103D_u103E/u103C_u103D.alt.narr/space/space/space/u1010_u103D.med/space/u1050/u1051/u1054/u1055/u105A/u105C/u1076/u1077/u1079/u107B/u107C/u107D/u107E/u107F/u1080/u108E/uAA60/uAA63/uAA68/uAA69/uAA6A/uAA6B/uAA6D/uAA6E/uAA7E/uAA7F/u1031.aiph/u101B.alt/space/uAA60.med.kham/u1019.kham/u1080.kham/uAA60.kham/u101B.long/u103C_u103D.alt.narr/space/space/u1000/u102D/u1014/u1039/u1014/space/space/u1000/u102F/u1017/u1039/u1017/u102E/u1038</string>
    <string>/u1000_u1001_u103B/u1000_u103B_u1015_u103A/u100B_u100B/u100B_u100C/u100D_u100D/u100D_u100E/u100F_u100B/u100F_u100D/u1014_u1010_u103B/u1014_u1010_u103C/u101E_u1010_u103C/u1051_u100C/u1003/u100C.med/u100B/u100C/u100E/u1014/u1014.alt/u1020/u1020_u103E/u1022/u1023/u1026/u1046/u1028/u102A/u1052/u1053/u1070/u1075/u1076/u1077/u107D/u107E/uAA61/u101D/uAA63/uAA6B/uA9E7/uA9EF/u1014.med/u1014.alt/uAA6C.alt/u104C/u104D/u104F/u1027</string>
    <string>/u1024/uAA74/uAA76/uAA76.kham/u104D/u1002/u109F/u100B_u100C/u100C</string>
    <string>/u1000/u1001/u1002/u1004/u1010/u1015/u1018/u101A/u101C/u101D/u101E/u101F/u1050/u1051/u1054/uA9E9/uA9EA/uA9EB/uA9EC/uA9ED/uA9EE/uA9FA/uA9FB/uA9FC/uA9FD/u1000.aiph/u1011.aiph/u101A.aiph/u101C.aiph/u101D.aiph/u1031.aiph/u1078.aiph/u107A.aiph/uAA7A.aiph/u100A.alt/u1000.kham/u1004.kham/u1010.kham/u1015.kham/u1019.kham/u101A.kham/u101C.kham/u1078.kham/uAA60.kham/uAA64.kham/uAA66.kham/uAA6C.kham</string>
    <string>/u103B_u103D.tri/space/space/u103B_u103D_u103E.tri/space/space/u102D/space/space/u102D_u1036/space/space/space/u102D_uAA7C/space/space/u102E/space/space/u102E_u1036/space/space/u102E_uAA7C/space/u102F_u108D/space/space/u1030_u108D/space/u1032/space/u1032_u102D/space/space/u1032_u1036/space/u1033/space/u1034/space/u1035/space/u1036/space/u103A/space/u103A_u1036/space/u103A_uAA70/space/u103D/space/space/u103D_u103E/space/space/u103D_u108D/u1056/u1057/u1058/u1059/u1062_u103A/u1063_u103A/space/u1072/u1082/space/space/u1082_u108D/u1012/u1012.med/u1084/space/u1085/space/uA9E5/space/space/uA9E5_uAA7C/space/u103E.alt/space/u103D_u1060.csh/space/space/u103E_u1060.csh/space/space/u102F.med/space/space/u103E.slanth/space/space/u103E_u1030.slanth/space/space/u103E.slantr/space/u103E_u1030.slantr/space/space/u103D_u103E.small/space/u103D.sml/space/u103D.tri/space/space/u103D_u103E.tri/space/space/u103D_u103E.small.tri/space</string>
    <string>/u1048/u1001/u1006/u1016/u101B/u1021/u1027/u102A/u1031/u1054/u1055/u1061/u1076/u1077/u1079/u107B/u107C/u107D/u107E/u107F/u1080/u1002/uAA60/uAA63/uAA68/uAA6E/uAA71/uA9E0/uA9E1/u1004/uA9E2/uA9E3/uAA7E/uAA7F/u1031.aiph/u101B.alt/u1080.kham/uAA60.kham/u101B.long/u104D/u104F</string>
    <string>/u1040/u1041/u1042/u1043/u1044/u1045/u1046/u1047/u1048/u1049/u1090/u1091/u1092/u1093/u1094/u1095/u1096/u1097/u1098/u1099/uA9F0/uA9F1/uA9F2/uA9F3/uA9F4/uA9F5/uA9F6/uA9F7/uA9F8/uA9F9</string>
    <string>/u1086_uAA70/uAA70/space/u1086.kham/u1022/u1022.kham/u1075.kham/space/u102D/u1000.kham/uAA70/u101D/u103A_uAA70/u1000/u102D/u101B.kham/space/space/space/u102D_uAA70/space/space/space/u102E_uAA70/space/u1085/u1012.med/space/space/u1085_uAA70/space/u1037/u101C/u1038/u1038/u1022/space 
/uAA6C.alt/uAA6C/u1085/space/u102D 
</string>
    <string>/u1004.kinzi/space/space/u1004.kinzi_u102D/space/space/u1004.kinzi_u102D_u1036/space/space/u1004.kinzi_u102E/space/space/u1004.kinzi_u1032/space/space/u1004.kinzi_u1033/space/u1004.kinzi_u1036/space/space/u1004.kinzi_u103A/space/u101B.kinzi/space/space/u101B.kinzi_u102D/space/space/u101B.kinzi_u102E/space/space/u101B.kinzi_u103A/space/space/u1005.med/u102D/space/u103A/space/u1032/space/u1033/space/u102E/space/u1036</string>
    <string>/u1003.med/space/space/u1006.med/u1003.thai/u100B.thai/u100C.thai/uA9E4/u100D.thai/u100E.thai/u1012.thai/u1014.thai/u101E.thai/u1020.thai 
/u1003/space/u1003.med/space/space/u1003.med.thai/space/u100B.med.thai/u100B.thai/u100C.med.thai/space/u100D.med/space/u100D.med.thai/space/u100E.med/space/space/u100E.med.thai/space 
/u1012/u1012.med/space/u1012.med.thai/u1012.thai/u1014/space/u1014.med/space/space/u100B.med/space/space/u1020.med.thai/space/u1014.med.thai/space/space/u101E.med/space/space/u101E.med.thai/u101E.thai/u1020.med.thai</string>
    <string>/u1075.aiph/uAA6D.aiph/u103C.aiph/space/space</string>
    <string>/u1000.med/space/u1004.med/space/space/u1010.med/space/space/u1011.med/space/u1015.med/space/u1019.med/space/space/u101A.med/space/space/u101C.med/space/space/u1000.aiph/u1000.med.aiph/u1010.aiph/u1010.med.aiph/u1011.aiph/u1011.med.aiph/u101A.aiph/u101A.med.aiph/u101C.aiph/u101C.med.aiph/u1075.aiph/u1075.med.aiph/u107A.aiph/space/u107A.med.aiph 
/uAA61.aiph/uAA61.med.aiph/uAA6B.med.aiph/u1004.kham/u1004.med.kham/u1015.kham/u1015.med.kham/u1019.kham/u1019.med.kham/uAA61.kham/uAA61.med.kham/uAA73.kham/uAA6B.med.kham/uAA6C.kham/uAA6C.med.kham 
/u1003.med/u100B.thai/u100B.med.thai/u100C.thai/space/u100C.med.thai/u101B/uAA79.aiph</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>800</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Bold</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>800</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.variationSequences</key>
  <dict>
    <key>FE00</key>
    <dict>
      <key>1000</key>
      <string>u1000.kham</string>
      <key>1004</key>
      <string>u1004.kham</string>
      <key>1010</key>
      <string>u1010.kham</string>
      <key>1015</key>
      <string>u1015.kham</string>
      <key>1019</key>
      <string>u1019.kham</string>
      <key>101A</key>
      <string>u101A.kham</string>
      <key>101B</key>
      <string>u101B.kham</string>
      <key>101C</key>
      <string>u101C.kham</string>
      <key>1022</key>
      <string>u1022.kham</string>
      <key>1075</key>
      <string>u1075.kham</string>
      <key>1078</key>
      <string>u1078.kham</string>
      <key>1080</key>
      <string>u1080.kham</string>
      <key>1086</key>
      <string>u1086.kham</string>
      <key>AA60</key>
      <string>uAA60.kham</string>
      <key>AA61</key>
      <string>uAA61.kham</string>
      <key>AA62</key>
      <string>uAA62.kham</string>
      <key>AA63</key>
      <string>uAA63.kham</string>
      <key>AA64</key>
      <string>uAA64.kham</string>
      <key>AA65</key>
      <string>uAA65.kham</string>
      <key>AA66</key>
      <string>uAA66.kham</string>
      <key>AA6B</key>
      <string>uAA6B.kham</string>
      <key>AA6C</key>
      <string>uAA6C.kham</string>
      <key>AA6F</key>
      <string>uAA6F.kham</string>
      <key>AA73</key>
      <string>uAA73.kham</string>
      <key>AA75</key>
      <string>uAA75.kham</string>
      <key>AA76</key>
      <string>uAA76.kham</string>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>nbspace</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>softhyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>dotlessi</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>u02D0</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>u034F</string>
    <string>pi</string>
    <string>u1000</string>
    <string>u1000.aiph</string>
    <string>u1000.kham</string>
    <string>u1000.med</string>
    <string>u1000.sml</string>
    <string>u1000_u1001_u103B</string>
    <string>u1000_u103B_u1015_u103A</string>
    <string>u1001</string>
    <string>u1001.med</string>
    <string>u1002</string>
    <string>u1002.med</string>
    <string>u1002.sml</string>
    <string>u1003</string>
    <string>u1003.med</string>
    <string>u1004</string>
    <string>u1004.kham</string>
    <string>u1004.kinzi</string>
    <string>u1004.kinzi_u102D</string>
    <string>u1004.kinzi_u102D_u1036</string>
    <string>u1004.kinzi_u102E</string>
    <string>u1004.kinzi_u1032</string>
    <string>u1004.kinzi_u1033</string>
    <string>u1004.kinzi_u1036</string>
    <string>u1004.kinzi_u103A</string>
    <string>u1004.med</string>
    <string>u1005</string>
    <string>u1005.med</string>
    <string>u1005.sml</string>
    <string>u1006</string>
    <string>u1006.med</string>
    <string>u1006.sml</string>
    <string>u1007</string>
    <string>u1007.med</string>
    <string>u1007.sml</string>
    <string>u1008</string>
    <string>u1008.med</string>
    <string>u1009</string>
    <string>u1009_u102C</string>
    <string>u100A</string>
    <string>u100A.alt</string>
    <string>u100A.med</string>
    <string>u100A_u100A</string>
    <string>u100B</string>
    <string>u100B.alt</string>
    <string>u100B.med</string>
    <string>u100B.sml</string>
    <string>u100B_u100B</string>
    <string>u100B_u100C</string>
    <string>u100C</string>
    <string>u100C.med</string>
    <string>u100D</string>
    <string>u100D.med</string>
    <string>u100D_u100D</string>
    <string>u100D_u100E</string>
    <string>u100E</string>
    <string>u100E.med</string>
    <string>u100F</string>
    <string>u100F.med</string>
    <string>u100F_u100B</string>
    <string>u100F_u100D</string>
    <string>u1010</string>
    <string>u1010.kham</string>
    <string>u1010.med</string>
    <string>u1010.sml</string>
    <string>u1010_u103D.med</string>
    <string>u1010_u103D.med.tri</string>
    <string>u1011</string>
    <string>u1011.aiph</string>
    <string>u1011.med</string>
    <string>u1011.sml</string>
    <string>u1012</string>
    <string>u1012.med</string>
    <string>u1012.sml</string>
    <string>u1013</string>
    <string>u1013.med</string>
    <string>u1013.sml</string>
    <string>u1014</string>
    <string>u1014.alt</string>
    <string>u1014.med</string>
    <string>u1014_u1010_u103B</string>
    <string>u1014_u1010_u103C</string>
    <string>u1015</string>
    <string>u1015.kham</string>
    <string>u1015.med</string>
    <string>u1015.sml</string>
    <string>u1016</string>
    <string>u1016.med</string>
    <string>u1017</string>
    <string>u1017.med</string>
    <string>u1018</string>
    <string>u1018.med</string>
    <string>u1019</string>
    <string>u1019.kham</string>
    <string>u1019.med</string>
    <string>u1019.sml</string>
    <string>u101A</string>
    <string>u101A.aiph</string>
    <string>u101A.kham</string>
    <string>u101A.med</string>
    <string>u101B</string>
    <string>u101B.alt</string>
    <string>u101B.kham</string>
    <string>u101B.kinzi</string>
    <string>u101B.kinzi_u102D</string>
    <string>u101B.kinzi_u102E</string>
    <string>u101B.kinzi_u103A</string>
    <string>u101B.long</string>
    <string>u101B.med</string>
    <string>u101B_u103B</string>
    <string>u101C</string>
    <string>u101C.aiph</string>
    <string>u101C.kham</string>
    <string>u101C.med</string>
    <string>u101C.med_u103D</string>
    <string>u101D</string>
    <string>u101D.aiph</string>
    <string>u101E</string>
    <string>u101E.med</string>
    <string>u101E.sml</string>
    <string>u101E_u1010_u103C</string>
    <string>u101F</string>
    <string>u101F.small</string>
    <string>u1020</string>
    <string>u1020.long</string>
    <string>u1020_u1020</string>
    <string>u1020_u103E</string>
    <string>u1021</string>
    <string>u1021.med</string>
    <string>u1022</string>
    <string>u1022.kham</string>
    <string>u1023</string>
    <string>u1024</string>
    <string>u1025</string>
    <string>u1026</string>
    <string>u1027</string>
    <string>u1028</string>
    <string>u1029</string>
    <string>u102A</string>
    <string>u102B</string>
    <string>u102B_u103A</string>
    <string>u102C</string>
    <string>u102D</string>
    <string>u102D_u1036</string>
    <string>u102D_uAA70</string>
    <string>u102D_uAA7C</string>
    <string>u102E</string>
    <string>u102E_u1036</string>
    <string>u102E_uAA70</string>
    <string>u102E_uAA7C</string>
    <string>u102F</string>
    <string>u102F.med</string>
    <string>u102F_u108D</string>
    <string>u1030</string>
    <string>u1030.med</string>
    <string>u1030_u108D</string>
    <string>u1031</string>
    <string>u1031.aiph</string>
    <string>u1032</string>
    <string>u1032_u102D</string>
    <string>u1032_u1036</string>
    <string>u1033</string>
    <string>u1034</string>
    <string>u1035</string>
    <string>u1036</string>
    <string>u1036.dot</string>
    <string>u1037</string>
    <string>u1038</string>
    <string>u1038.dot</string>
    <string>u1039</string>
    <string>u103A</string>
    <string>u103A_u1036</string>
    <string>u103A_uAA70</string>
    <string>u103B</string>
    <string>u103B_u103D</string>
    <string>u103B_u103D.tri</string>
    <string>u103B_u103D_u103E</string>
    <string>u103B_u103D_u103E.tri</string>
    <string>u103B_u103E</string>
    <string>u103C</string>
    <string>u103C.alt.narr</string>
    <string>u103C.alt.open.narr</string>
    <string>u103C.alt.open.wide</string>
    <string>u103C.alt.wide</string>
    <string>u103C.open.narr</string>
    <string>u103C.open.wide</string>
    <string>u103C.wide</string>
    <string>u103C_u102F.alt.narr</string>
    <string>u103C_u102F.alt.wide</string>
    <string>u103C_u102F.narr</string>
    <string>u103C_u102F.wide</string>
    <string>u103C_u103D.alt.narr</string>
    <string>u103C_u103D.alt.narr.tri</string>
    <string>u103C_u103D.alt.wide</string>
    <string>u103C_u103D.alt.wide.tri</string>
    <string>u103C_u103D.narr</string>
    <string>u103C_u103D.narr.tri</string>
    <string>u103C_u103D.wide</string>
    <string>u103C_u103D.wide.tri</string>
    <string>u103D</string>
    <string>u103D.sml</string>
    <string>u103D.tri</string>
    <string>u103D_u103E</string>
    <string>u103D_u103E.small</string>
    <string>u103D_u103E.small.tri</string>
    <string>u103D_u103E.tri</string>
    <string>u103D_u1060.csh</string>
    <string>u103D_u108D</string>
    <string>u103E</string>
    <string>u103E.alt</string>
    <string>u103E.slanth</string>
    <string>u103E.slantr</string>
    <string>u103E_u102F</string>
    <string>u103E_u102F.slanth</string>
    <string>u103E_u102F.slantr</string>
    <string>u103E_u1030</string>
    <string>u103E_u1030.slanth</string>
    <string>u103E_u1030.slantr</string>
    <string>u103E_u1060.csh</string>
    <string>u103F</string>
    <string>u1040</string>
    <string>u1041</string>
    <string>u1042</string>
    <string>u1043</string>
    <string>u1044</string>
    <string>u1045</string>
    <string>u1046</string>
    <string>u1047</string>
    <string>u1048</string>
    <string>u1049</string>
    <string>u104A</string>
    <string>u104B</string>
    <string>u104C</string>
    <string>u104D</string>
    <string>u104E</string>
    <string>u104F</string>
    <string>u1050</string>
    <string>u1050.med</string>
    <string>u1051</string>
    <string>u1051.med</string>
    <string>u1051_u100C</string>
    <string>u1051_u100D</string>
    <string>u1052</string>
    <string>u1053</string>
    <string>u1054</string>
    <string>u1055</string>
    <string>u1056</string>
    <string>u1057</string>
    <string>u1058</string>
    <string>u1059</string>
    <string>u105A</string>
    <string>u105A.med</string>
    <string>u105B</string>
    <string>u105B.med</string>
    <string>u105C</string>
    <string>u105C.med</string>
    <string>u105D</string>
    <string>u105E</string>
    <string>u105F</string>
    <string>u1060</string>
    <string>u1061</string>
    <string>u1062</string>
    <string>u1062_u103A</string>
    <string>u1063</string>
    <string>u1063_u103A</string>
    <string>u1064</string>
    <string>u1065</string>
    <string>u1066</string>
    <string>u1067</string>
    <string>u1068</string>
    <string>u1069</string>
    <string>u106A</string>
    <string>u106B</string>
    <string>u106C</string>
    <string>u106D</string>
    <string>u106D.csh</string>
    <string>u106E</string>
    <string>u106F</string>
    <string>u1070</string>
    <string>u1071</string>
    <string>u1072</string>
    <string>u1073</string>
    <string>u1074</string>
    <string>u1075</string>
    <string>u1075.kham</string>
    <string>u1076</string>
    <string>u1077</string>
    <string>u1078</string>
    <string>u1078.aiph</string>
    <string>u1078.kham</string>
    <string>u1079</string>
    <string>u107A</string>
    <string>u107A.aiph</string>
    <string>u107B</string>
    <string>u107C</string>
    <string>u107D</string>
    <string>u107E</string>
    <string>u107F</string>
    <string>u1080</string>
    <string>u1080.kham</string>
    <string>u1081</string>
    <string>u1081.straight</string>
    <string>u1082</string>
    <string>u1082_u108D</string>
    <string>u1083</string>
    <string>u1084</string>
    <string>u1085</string>
    <string>u1085_uAA70</string>
    <string>u1086</string>
    <string>u1086.kham</string>
    <string>u1086_uAA70</string>
    <string>u1086_uAA7C</string>
    <string>u1087</string>
    <string>u1087.dot</string>
    <string>u1088</string>
    <string>u1088.dot</string>
    <string>u1089</string>
    <string>u1089.dot</string>
    <string>u108A</string>
    <string>u108A.dot</string>
    <string>u108B</string>
    <string>u108C</string>
    <string>u108D</string>
    <string>u108E</string>
    <string>u108F</string>
    <string>u1090</string>
    <string>u1091</string>
    <string>u1092</string>
    <string>u1093</string>
    <string>u1094</string>
    <string>u1095</string>
    <string>u1096</string>
    <string>u1097</string>
    <string>u1098</string>
    <string>u1099</string>
    <string>u109A</string>
    <string>u109A.dot</string>
    <string>u109B</string>
    <string>u109B.dot</string>
    <string>u109C</string>
    <string>u109D</string>
    <string>u109E</string>
    <string>u109F</string>
    <string>u1003.thai</string>
    <string>u100B.thai</string>
    <string>u100C.thai</string>
    <string>u100D.thai</string>
    <string>u100E.thai</string>
    <string>u1012.thai</string>
    <string>u1014.thai</string>
    <string>u101E.thai</string>
    <string>u1020.thai</string>
    <string>u1021.thai</string>
    <string>u1023.thai</string>
    <string>u103F.thai</string>
    <string>u1049.thai</string>
    <string>u104A.thai</string>
    <string>u104B.thai</string>
    <string>kinzi</string>
    <string>uA92E</string>
    <string>uA9E0</string>
    <string>uA9E1</string>
    <string>uA9E2</string>
    <string>uA9E3</string>
    <string>uA9E4</string>
    <string>uA9E5</string>
    <string>uA9E5_uAA7C</string>
    <string>uA9E6</string>
    <string>uA9E7</string>
    <string>uA9E8</string>
    <string>uA9E9</string>
    <string>uA9EA</string>
    <string>uA9EB</string>
    <string>uA9EC</string>
    <string>uA9ED</string>
    <string>uA9EE</string>
    <string>uA9EF</string>
    <string>uA9F0</string>
    <string>uA9F1</string>
    <string>uA9F2</string>
    <string>uA9F3</string>
    <string>uA9F4</string>
    <string>uA9F5</string>
    <string>uA9F6</string>
    <string>uA9F7</string>
    <string>uA9F8</string>
    <string>uA9F9</string>
    <string>uA9FA</string>
    <string>uA9FB</string>
    <string>uA9FC</string>
    <string>uA9FD</string>
    <string>uA9FE</string>
    <string>uAA60</string>
    <string>uAA60.kham</string>
    <string>uAA60.med</string>
    <string>uAA60.med.kham</string>
    <string>uAA61</string>
    <string>uAA61.kham</string>
    <string>uAA62</string>
    <string>uAA62.kham</string>
    <string>uAA63</string>
    <string>uAA63.kham</string>
    <string>uAA64</string>
    <string>uAA64.kham</string>
    <string>uAA65</string>
    <string>uAA65.kham</string>
    <string>uAA66</string>
    <string>uAA66.kham</string>
    <string>uAA67</string>
    <string>uAA68</string>
    <string>uAA69</string>
    <string>uAA6A</string>
    <string>uAA6B</string>
    <string>uAA6B.kham</string>
    <string>uAA6C</string>
    <string>uAA6C.alt</string>
    <string>uAA6C.kham</string>
    <string>uAA6D</string>
    <string>uAA6E</string>
    <string>uAA6F</string>
    <string>uAA6F.kham</string>
    <string>uAA70</string>
    <string>uAA71</string>
    <string>uAA72</string>
    <string>uAA73</string>
    <string>uAA73.kham</string>
    <string>uAA74</string>
    <string>uAA75</string>
    <string>uAA75.kham</string>
    <string>uAA76</string>
    <string>uAA76.kham</string>
    <string>uAA77</string>
    <string>uAA78</string>
    <string>uAA79</string>
    <string>uAA7A</string>
    <string>uAA7A.aiph</string>
    <string>uAA7B</string>
    <string>uAA7B.dot</string>
    <string>uAA7C</string>
    <string>uAA7D</string>
    <string>uAA7E</string>
    <string>uAA7F</string>
    <string>u1700</string>
    <string>u2000</string>
    <string>u2001</string>
    <string>u2002</string>
    <string>u2003</string>
    <string>u2004</string>
    <string>u2005</string>
    <string>u2006</string>
    <string>u2007</string>
    <string>u2008</string>
    <string>u2009</string>
    <string>u200A</string>
    <string>u200B</string>
    <string>u200C</string>
    <string>u200D</string>
    <string>u200E</string>
    <string>u200F</string>
    <string>u2010</string>
    <string>u2011</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>u2015</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>u2027</string>
    <string>u2028</string>
    <string>u2029</string>
    <string>u202A</string>
    <string>u202B</string>
    <string>u202C</string>
    <string>u202D</string>
    <string>u202E</string>
    <string>u202F</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>u2060</string>
    <string>foursuperior</string>
    <string>Euro</string>
    <string>trademark</string>
    <string>Omega</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>u2215</string>
    <string>u2219</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>circledash</string>
    <string>fi</string>
    <string>fl</string>
    <string>uFE00</string>
    <string>uFE01</string>
    <string>uFE02</string>
    <string>uFE03</string>
    <string>uFE04</string>
    <string>uFE05</string>
    <string>uFE06</string>
    <string>uFE07</string>
    <string>uFE08</string>
    <string>uFE09</string>
    <string>uFE0A</string>
    <string>uFE0B</string>
    <string>uFE0C</string>
    <string>uFE0D</string>
    <string>uFE0E</string>
    <string>uFE0F</string>
    <string>uFEFF</string>
    <string>uFFFC</string>
    <string>uFFFD</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Delta</key>
    <string>u2206</string>
    <key>Euro</key>
    <string>Euro</string>
    <key>Omega</key>
    <string>u2126</string>
    <key>approxequal</key>
    <string>u2248</string>
    <key>bullet</key>
    <string>u2022</string>
    <key>circledash</key>
    <string>circledash</string>
    <key>dagger</key>
    <string>u2020</string>
    <key>daggerdbl</key>
    <string>u2021</string>
    <key>ellipsis</key>
    <string>u2026</string>
    <key>emdash</key>
    <string>u2014</string>
    <key>endash</key>
    <string>u2013</string>
    <key>figuredash</key>
    <string>u2012</string>
    <key>foursuperior</key>
    <string>u2074</string>
    <key>fraction</key>
    <string>u2044</string>
    <key>greaterequal</key>
    <string>u2265</string>
    <key>guilsinglleft</key>
    <string>u2039</string>
    <key>guilsinglright</key>
    <string>u203A</string>
    <key>infinity</key>
    <string>u221E</string>
    <key>integral</key>
    <string>u222B</string>
    <key>lessequal</key>
    <string>u2264</string>
    <key>lozenge</key>
    <string>u25CA</string>
    <key>minus</key>
    <string>u2212</string>
    <key>notequal</key>
    <string>u2260</string>
    <key>partialdiff</key>
    <string>u2202</string>
    <key>perthousand</key>
    <string>u2030</string>
    <key>pi</key>
    <string>u03C0</string>
    <key>product</key>
    <string>u220F</string>
    <key>quotedblbase</key>
    <string>u201E</string>
    <key>quotedblleft</key>
    <string>u201C</string>
    <key>quotedblright</key>
    <string>u201D</string>
    <key>quoteleft</key>
    <string>u2018</string>
    <key>quoteright</key>
    <string>u2019</string>
    <key>quotesinglbase</key>
    <string>u201A</string>
    <key>radical</key>
    <string>u221A</string>
    <key>summation</key>
    <string>u2211</string>
    <key>trademark</key>
    <string>u2122</string>
    <key>u034F</key>
    <string>u034F</string>
    <key>u2000</key>
    <string>u2000</string>
    <key>u2001</key>
    <string>u2001</string>
    <key>u2002</key>
    <string>u2002</string>
    <key>u2003</key>
    <string>u2003</string>
    <key>u2004</key>
    <string>u2004</string>
    <key>u2005</key>
    <string>u2005</string>
    <key>u2006</key>
    <string>u2006</string>
    <key>u2007</key>
    <string>u2007</string>
    <key>u2008</key>
    <string>u2008</string>
    <key>u2009</key>
    <string>u2009</string>
    <key>u200A</key>
    <string>u200A</string>
    <key>u200E</key>
    <string>u200E</string>
    <key>u200F</key>
    <string>u200F</string>
    <key>u2010</key>
    <string>u2010</string>
    <key>u2011</key>
    <string>u2011</string>
    <key>u2015</key>
    <string>u2015</string>
    <key>u2027</key>
    <string>u2027</string>
    <key>u2028</key>
    <string>u2028</string>
    <key>u2029</key>
    <string>u2029</string>
    <key>u202A</key>
    <string>u202A</string>
    <key>u202B</key>
    <string>u202B</string>
    <key>u202C</key>
    <string>u202C</string>
    <key>u202D</key>
    <string>u202D</string>
    <key>u202E</key>
    <string>u202E</string>
    <key>u202F</key>
    <string>u202F</string>
    <key>u2215</key>
    <string>u2215</string>
    <key>u2219</key>
    <string>u2219</string>
    <key>uFE01</key>
    <string>uFE01</string>
    <key>uFE02</key>
    <string>uFE02</string>
    <key>uFE03</key>
    <string>uFE03</string>
    <key>uFE04</key>
    <string>uFE04</string>
    <key>uFE05</key>
    <string>uFE05</string>
    <key>uFE06</key>
    <string>uFE06</string>
    <key>uFE07</key>
    <string>uFE07</string>
    <key>uFE08</key>
    <string>uFE08</string>
    <key>uFE09</key>
    <string>uFE09</string>
    <key>uFE0A</key>
    <string>uFE0A</string>
    <key>uFE0B</key>
    <string>uFE0B</string>
    <key>uFE0C</key>
    <string>uFE0C</string>
    <key>uFE0D</key>
    <string>uFE0D</string>
    <key>uFE0E</key>
    <string>uFE0E</string>
    <key>uFE0F</key>
    <string>uFE0F</string>
    <key>uFEFF</key>
    <string>uFEFF</string>
    <key>uFFFC</key>
    <string>uFFFC</string>
    <key>uFFFD</key>
    <string>uFFFD</string>
  </dict>
</dict>
</plist>
