<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1235</string>
  <key>com.schriftgestaltung.customName</key>
  <string>Book</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/u103D_u1060.csh    /u1060  /u103E_u1060.csh    /u106D.csh  /u103E.slanth  /u102D/u1060 
/u103D  /u1006/u1038/u106D.csh/u1062/u1064/u106D  /u1064/u1005/u106D.csh  /u103C.wide/uA9E4/u103C.alt.wide/uA9E4 
/uA9E8/uA9FE  /u103C.wide/uA9E4/u102D  /uA9E8/u108D/uAA7C/uAA7D/u1019 
/u1000/u106D.csh  /u1000/u103B/u106D.csh  /u1000/u103B/u1030/u106D.csh  /u103C.wide/u1000/u102F/u106D.csh</string>
    <string>/u1000_u1001_u103B/u100B_u100B/u100D_u100D/u100F_u100B/u100F_u100D/u1014_u1010_u103B/u1014_u1010_u103C/u101E_u1010_u103C/u1020_u1020/u1001/u1005/u1006/u1007/u1008/u100D/u100F/u1013/u1016/u1019/u101B/u1020_u103E/u1021/u1023/u1026/u1027/u102A/u1031 
 /u103B_u103D   /u103B_u103D_u103E/u103C_u103D.alt.narr    /u1010_u103D.med  /u1050/u1051/u1054/u1055/u105A/u105C/u1076/u1077/u1079/u107B/u107C/u107D/u107E/u107F/u1080/u108E/uAA60/uAA63/uAA68/uAA69/uAA6A/uAA6B/uAA6D/uAA6E/uAA7E/uAA7F/u1031.aiph/u101B.alt  /uAA60.med.kham/u1019.kham/u1080.kham/uAA60.kham/u101B.long/u103C_u103D.alt.narr   /u1000/u102D/u1014/u1039/u1014   /u1000/u102F/u1017/u1039/u1017/u102E/u1038</string>
    <string>/uAA60.med.kham   /u1000.med  /u1001.med  /u1002.med   /u1003.med  /u1004.med  /u1005.med   /u1006.med  
 /u1007.med/u1007  /u1008.med   /u100A.med  /u100B.med   /u100C.med  /u100D.med  /u100E.med/u100E/u1000_u1001_u103B   /u100F.med  
 /u1010.med  /u1010_u103D.med   /u1011.med  /u1012.med  /u1013.med  /u1014.med  /u1015.med  /u1016.med  /u1017.med   /u1018.med 
 /u1019.med   /u101A.med  /u101B.med   /u101C.med    /u101C.med_u103D   /u101E.med  
 /u1021.med  /u1050.med  /u1051.med/u105A  /u105A.med  /u105B.med  /u105C.med   /uAA60.med  /u1010_u103D.med.tri</string>
    <string>/u1000_u1001_u103B/u1000_u103B_u1015_u103A/u100B_u100B/u100B_u100C/u100D_u100D/u100D_u100E/u100F_u100B/u100F_u100D/u1014_u1010_u103B/u1014_u1010_u103C/u101E_u1010_u103C/u1051_u100C/u1003/u100C.med/u100B/u100C/u100E/u1014/u1014.alt/u1020/u1020_u103E/u1022/u1023/u1026/u1046/u1028/u102A/u1052/u1053/u1070/u1075/u1076/u1077/u107D/u107E/uAA61/u101D/uAA63/uAA6B/uA9E7/uA9EF/u1014.med/u1014.alt/uAA6C.alt/u104C/u104D/u104F/u1027</string>
    <string>/u1004.kinzi   /u1004.kinzi_u102D   /u1004.kinzi_u102D_u1036   /u1004.kinzi_u102E   /u1004.kinzi_u1032   /u1004.kinzi_u1033  /u1004.kinzi_u1036   /u1004.kinzi_u103A  /u101B.kinzi   /u101B.kinzi_u102D   /u101B.kinzi_u102E   /u101B.kinzi_u103A 
</string>
    <string>/u1024/uAA74/uAA76/uAA76.kham/u104D/u1002/u109F/u100B_u100C/u100C</string>
    <string>/u1000.sml   /u1006.sml  /u100B.sml   /u1010.sml   /u1011.sml  /u1012.sml  /u1013.sml  /u1015.sml  /u1019.sml   /u101E.sml   /u103D_u103E.small  /u103D.sml   /u103B_u103D_u103E.tri  </string>
    <string>/u1000/u1001/u1002/u1004/u1010/u1015/u1018/u101A/u101C/u101D/u101E/u101F/u1050/u1051/u1054/uA9E9/uA9EA/uA9EB/uA9EC/uA9ED/uA9EE/uA9FA/uA9FB/uA9FC/uA9FD/u1000.aiph/u1011.aiph/u101A.aiph/u101C.aiph/u101D.aiph/u1031.aiph/u1078.aiph/u107A.aiph/uAA7A.aiph/u100A.alt/u1000.kham/u1004.kham/u1010.kham/u1015.kham/u1019.kham/u101A.kham/u101C.kham/u1078.kham/uAA60.kham/uAA64.kham/uAA66.kham/uAA6C.kham</string>
    <string>/u1036/u1037/u1089/u108B/u108C/u1071/u109A/u1038</string>
    <string>/u1086   /u1086_uAA7C/u1089/u1087/u1088/u108A/u108F/u109B/u109C/uAA7B</string>
    <string>/u103B_u103D.tri   /u103B_u103D_u103E.tri   /u102D   /u102D_u1036    /u102D_uAA7C   /u102E   /u102E_u1036   /u102E_uAA7C  /u102F_u108D   /u1030_u108D  /u1032  /u1032_u102D   /u1032_u1036  /u1033  /u1034  /u1035  /u1036  /u103A  /u103A_u1036  /u103A_uAA70  /u103D   /u103D_u103E   /u103D_u108D/u1056/u1057/u1058/u1059/u1062_u103A/u1063_u103A  /u1072/u1082   /u1082_u108D/u1012/u1012.med/u1084  /u1085  /uA9E5   /uA9E5_uAA7C  /u103E.alt  /u103D_u1060.csh   /u103E_u1060.csh   /u102F.med   /u103E.slanth   /u103E_u1030.slanth   /u103E.slantr  /u103E_u1030.slantr   /u103D_u103E.small  /u103D.sml  /u103D.tri   /u103D_u103E.tri   /u103D_u103E.small.tri  </string>
    <string>/u1048/u1001/u1006/u1016/u101B/u1021/u1027/u102A/u1031/u1054/u1055/u1061/u1076/u1077/u1079/u107B/u107C/u107D/u107E/u107F/u1080/u1002/uAA60/uAA63/uAA68/uAA6E/uAA71/uA9E0/uA9E1/u1004/uA9E2/uA9E3/uAA7E/uAA7F/u1031.aiph/u101B.alt/u1080.kham/uAA60.kham/u101B.long/u104D/u104F</string>
    <string>/u1040/u1041/u1042/u1043/u1044/u1045/u1046/u1047/u1048/u1049/u1090/u1091/u1092/u1093/u1094/u1095/u1096/u1097/u1098/u1099/uA9F0/uA9F1/uA9F2/uA9F3/uA9F4/uA9F5/uA9F6/uA9F7/uA9F8/uA9F9</string>
    <string>/u1086_uAA70/uAA70  /u1086.kham/u1022/u1022.kham/u1075.kham  /u102D/u1000.kham/uAA70/u101D/u103A_uAA70/u1000/u102D/u101B.kham    /u102D_uAA70    /u102E_uAA70  /u1085/u1012.med   /u1085_uAA70  /u1037/u101C/u1038/u1038/u1022  
/uAA6C.alt/uAA6C/u1085  /u102D 
</string>
    <string>/u1000/u1000_u1001_u103B/u1000_u103B_u1015_u103A/u1000.aiph/u1000.kham/u1000.med   /u1000.sml 
/u1004.kinzi   /u1004.kinzi_u102D   /u1004.kinzi_u102D_u1036   /u1004.kinzi_u102E   /u1004.kinzi_u1032   /u1004.kinzi_u1033   /u1004.kinzi_u1036   /u1004.kinzi_u103A 
/u1058/u1074/u108F/u109C/uAA7B/u1087/u108A/uAA70</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>800</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Bold</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>800</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.variationSequences</key>
  <dict>
    <key>FE00</key>
    <dict>
      <key>1000</key>
      <string>u1000.kham</string>
      <key>1004</key>
      <string>u1004.kham</string>
      <key>1010</key>
      <string>u1010.kham</string>
      <key>1015</key>
      <string>u1015.kham</string>
      <key>1019</key>
      <string>u1019.kham</string>
      <key>101A</key>
      <string>u101A.kham</string>
      <key>101B</key>
      <string>u101B.kham</string>
      <key>101C</key>
      <string>u101C.kham</string>
      <key>1022</key>
      <string>u1022.kham</string>
      <key>1075</key>
      <string>u1075.kham</string>
      <key>1078</key>
      <string>u1078.kham</string>
      <key>1080</key>
      <string>u1080.kham</string>
      <key>1086</key>
      <string>u1086.kham</string>
      <key>AA60</key>
      <string>uAA60.kham</string>
      <key>AA61</key>
      <string>uAA61.kham</string>
      <key>AA62</key>
      <string>uAA62.kham</string>
      <key>AA63</key>
      <string>uAA63.kham</string>
      <key>AA64</key>
      <string>uAA64.kham</string>
      <key>AA65</key>
      <string>uAA65.kham</string>
      <key>AA66</key>
      <string>uAA66.kham</string>
      <key>AA6B</key>
      <string>uAA6B.kham</string>
      <key>AA6C</key>
      <string>uAA6C.kham</string>
      <key>AA6F</key>
      <string>uAA6F.kham</string>
      <key>AA73</key>
      <string>uAA73.kham</string>
      <key>AA75</key>
      <string>uAA75.kham</string>
      <key>AA76</key>
      <string>uAA76.kham</string>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>divisionslash</key>
    <string>uni2215</string>
    <key>euro</key>
    <string>Euro</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>guillemetleft</key>
    <string>guillemotleft</string>
    <key>guillemetright</key>
    <string>guillemotright</string>
    <key>idotless</key>
    <string>dotlessi</string>
    <key>micro</key>
    <string>uni00B5</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
  </dict>
</dict>
</plist>
