<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>colontriangularmod</key>
  <string>colontriangularmod.glif</string>
  <key>u1000.med</key>
  <string>u1000.med.glif</string>
  <key>u1000_u1001_u103B</key>
  <string>u1000_u1001_u103B_.glif</string>
  <key>u1000_u103B_u1015_u103A</key>
  <string>u1000_u103B__u1015_u103A_.glif</string>
  <key>u1001</key>
  <string>u1001.glif</string>
  <key>u1001.med</key>
  <string>u1001.med.glif</string>
  <key>u1002.med</key>
  <string>u1002.med.glif</string>
  <key>u1002.sml</key>
  <string>u1002.sml.glif</string>
  <key>u1003.sml</key>
  <string>u1003.sml.glif</string>
  <key>u1004.kinzi_u102D</key>
  <string>u1004.kinzi_u102D_.glif</string>
  <key>u1004.kinzi_u102E</key>
  <string>u1004.kinzi_u102E_.glif</string>
  <key>u1004.kinzi_u103A</key>
  <string>u1004.kinzi_u103A_.glif</string>
  <key>u1004.med</key>
  <string>u1004.med.glif</string>
  <key>u1005.med</key>
  <string>u1005.med.glif</string>
  <key>u1006</key>
  <string>u1006.glif</string>
  <key>u1006.med</key>
  <string>u1006.med.glif</string>
  <key>u1006.sml</key>
  <string>u1006.sml.glif</string>
  <key>u1007</key>
  <string>u1007.glif</string>
  <key>u1007.med</key>
  <string>u1007.med.glif</string>
  <key>u1007.sml</key>
  <string>u1007.sml.glif</string>
  <key>u100A.med</key>
  <string>u100A_.med.glif</string>
  <key>u100A.sml</key>
  <string>u100A_.sml.glif</string>
  <key>u100A_u100A</key>
  <string>u100A__u100A_.glif</string>
  <key>u100B_u100B</key>
  <string>u100B__u100B_.glif</string>
  <key>u100C.med</key>
  <string>u100C_.med.glif</string>
  <key>u100D</key>
  <string>u100D_.glif</string>
  <key>u100D.med.thai</key>
  <string>u100D_.med.thai.glif</string>
  <key>u100D.thai</key>
  <string>u100D_.thai.glif</string>
  <key>u100E</key>
  <string>u100E_.glif</string>
  <key>u100E.thai</key>
  <string>u100E_.thai.glif</string>
  <key>u100F</key>
  <string>u100F_.glif</string>
  <key>u100F.med</key>
  <string>u100F_.med.glif</string>
  <key>u100F_u100D</key>
  <string>u100F__u100D_.glif</string>
  <key>u1010</key>
  <string>u1010.glif</string>
  <key>u1010.med</key>
  <string>u1010.med.glif</string>
  <key>u1010.sml</key>
  <string>u1010.sml.glif</string>
  <key>u1010_u103D.med</key>
  <string>u1010_u103D_.med.glif</string>
  <key>u1011.med</key>
  <string>u1011.med.glif</string>
  <key>u1012.med.thai</key>
  <string>u1012.med.thai.glif</string>
  <key>u1012.thai</key>
  <string>u1012.thai.glif</string>
  <key>u1013</key>
  <string>u1013.glif</string>
  <key>u1014.alt</key>
  <string>u1014.alt.glif</string>
  <key>u1014.med.thai</key>
  <string>u1014.med.thai.glif</string>
  <key>u1014.thai</key>
  <string>u1014.thai.glif</string>
  <key>u1015</key>
  <string>u1015.glif</string>
  <key>u1015.med</key>
  <string>u1015.med.glif</string>
  <key>u1015.sml</key>
  <string>u1015.sml.glif</string>
  <key>u1017</key>
  <string>u1017.glif</string>
  <key>u1017.med</key>
  <string>u1017.med.glif</string>
  <key>u1018</key>
  <string>u1018.glif</string>
  <key>u1018.med</key>
  <string>u1018.med.glif</string>
  <key>u1019.med</key>
  <string>u1019.med.glif</string>
  <key>u1019.sml</key>
  <string>u1019.sml.glif</string>
  <key>u101A.med</key>
  <string>u101A_.med.glif</string>
  <key>u101B.kinzi</key>
  <string>u101B_.kinzi.glif</string>
  <key>u101B.med</key>
  <string>u101B_.med.glif</string>
  <key>u101C.med_u103D</key>
  <string>u101C_.med_u103D_.glif</string>
  <key>u101E.med.thai</key>
  <string>u101E_.med.thai.glif</string>
  <key>u101E.sml</key>
  <string>u101E_.sml.glif</string>
  <key>u101E.thai</key>
  <string>u101E_.thai.glif</string>
  <key>u1021</key>
  <string>u1021.glif</string>
  <key>u1021.med</key>
  <string>u1021.med.glif</string>
  <key>u1023</key>
  <string>u1023.glif</string>
  <key>u1027</key>
  <string>u1027.glif</string>
  <key>u1028</key>
  <string>u1028.glif</string>
  <key>u102A</key>
  <string>u102A_.glif</string>
  <key>u1031</key>
  <string>u1031.glif</string>
  <key>u1031.kham</key>
  <string>u1031.kham.glif</string>
  <key>u1035</key>
  <string>u1035.glif</string>
  <key>u103B_u103D_u103E</key>
  <string>u103B__u103D__u103E_.glif</string>
  <key>u103D_u103E.small</key>
  <string>u103D__u103E_.small.glif</string>
  <key>u104D</key>
  <string>u104D_.glif</string>
  <key>u1053</key>
  <string>u1053.glif</string>
  <key>u1056</key>
  <string>u1056.glif</string>
  <key>u1059</key>
  <string>u1059.glif</string>
  <key>u105A</key>
  <string>u105A_.glif</string>
  <key>u105A.med</key>
  <string>u105A_.med.glif</string>
  <key>u105B.med</key>
  <string>u105B_.med.glif</string>
  <key>u106D.csh</key>
  <string>u106D_.csh.glif</string>
  <key>u1075.aiph</key>
  <string>u1075.aiph.glif</string>
  <key>u1075.kham</key>
  <string>u1075.kham.glif</string>
  <key>u1075.med.aiph</key>
  <string>u1075.med.aiph.glif</string>
  <key>u1076</key>
  <string>u1076.glif</string>
  <key>u1077</key>
  <string>u1077.glif</string>
  <key>u107B</key>
  <string>u107B_.glif</string>
  <key>u107C</key>
  <string>u107C_.glif</string>
  <key>u1086</key>
  <string>u1086.glif</string>
  <key>u1087</key>
  <string>u1087.glif</string>
  <key>u109F</key>
  <string>u109F_.glif</string>
  <key>uA9E0</key>
  <string>uA_9E_0.glif</string>
  <key>uA9E2</key>
  <string>uA_9E_2.glif</string>
  <key>uA9E5</key>
  <string>uA_9E_5.glif</string>
  <key>uA9E7</key>
  <string>uA_9E_7.glif</string>
  <key>uAA60.med</key>
  <string>uA_A_60.med.glif</string>
  <key>uAA61.aiph</key>
  <string>uA_A_61.aiph.glif</string>
  <key>uAA61.kham</key>
  <string>uA_A_61.kham.glif</string>
  <key>uAA61.med.aiph</key>
  <string>uA_A_61.med.aiph.glif</string>
  <key>uAA61.med.kham</key>
  <string>uA_A_61.med.kham.glif</string>
  <key>uAA63</key>
  <string>uA_A_63.glif</string>
  <key>uAA63.kham</key>
  <string>uA_A_63.kham.glif</string>
  <key>uAA6B</key>
  <string>uA_A_6B_.glif</string>
  <key>uAA6B.aiph</key>
  <string>uA_A_6B_.aiph.glif</string>
  <key>uAA6B.kham</key>
  <string>uA_A_6B_.kham.glif</string>
  <key>uAA6B.med.aiph</key>
  <string>uA_A_6B_.med.aiph.glif</string>
  <key>uAA6B.med.kham</key>
  <string>uA_A_6B_.med.kham.glif</string>
  <key>uAA6C.med.kham</key>
  <string>uA_A_6C_.med.kham.glif</string>
  <key>uAA70</key>
  <string>uA_A_70.glif</string>
  <key>uAA74</key>
  <string>uA_A_74.glif</string>
  <key>uAA77.aiph</key>
  <string>uA_A_77.aiph.glif</string>
  <key>uAA7A</key>
  <string>uA_A_7A_.glif</string>
</dict>
</plist>
