<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>u1000.med</key>
  <string>u1000.med.glif</string>
  <key>u1000_u1001_u103B</key>
  <string>u1000_u1001_u103B_.glif</string>
  <key>u1000_u103B_u1015_u103A</key>
  <string>u1000_u103B__u1015_u103A_.glif</string>
  <key>u1001</key>
  <string>u1001.glif</string>
  <key>u1001.med</key>
  <string>u1001.med.glif</string>
  <key>u1006.sml</key>
  <string>u1006.sml.glif</string>
  <key>u1007</key>
  <string>u1007.glif</string>
  <key>u1007.med</key>
  <string>u1007.med.glif</string>
  <key>u100A.med</key>
  <string>u100A_.med.glif</string>
  <key>u100B_u100B</key>
  <string>u100B__u100B_.glif</string>
  <key>u100C.med</key>
  <string>u100C_.med.glif</string>
  <key>u100D</key>
  <string>u100D_.glif</string>
  <key>u100D.med.thai</key>
  <string>u100D_.med.thai.glif</string>
  <key>u100D.thai</key>
  <string>u100D_.thai.glif</string>
  <key>u100E.thai</key>
  <string>u100E_.thai.glif</string>
  <key>u100F_u100D</key>
  <string>u100F__u100D_.glif</string>
  <key>u1010_u103D.med</key>
  <string>u1010_u103D_.med.glif</string>
  <key>u1012.med.thai</key>
  <string>u1012.med.thai.glif</string>
  <key>u1012.thai</key>
  <string>u1012.thai.glif</string>
  <key>u1013</key>
  <string>u1013.glif</string>
  <key>u1014.thai</key>
  <string>u1014.thai.glif</string>
  <key>u1015</key>
  <string>u1015.glif</string>
  <key>u1016.med</key>
  <string>u1016.med.glif</string>
  <key>u1018</key>
  <string>u1018.glif</string>
  <key>u101A.med</key>
  <string>u101A_.med.glif</string>
  <key>u101B</key>
  <string>u101B_.glif</string>
  <key>u101B.med</key>
  <string>u101B_.med.glif</string>
  <key>u101C.med_u103D</key>
  <string>u101C_.med_u103D_.glif</string>
  <key>u101E.thai</key>
  <string>u101E_.thai.glif</string>
  <key>u1021</key>
  <string>u1021.glif</string>
  <key>u1027</key>
  <string>u1027.glif</string>
  <key>u102A</key>
  <string>u102A_.glif</string>
  <key>u1031</key>
  <string>u1031.glif</string>
  <key>u1035</key>
  <string>u1035.glif</string>
  <key>u103B_u103D_u103E</key>
  <string>u103B__u103D__u103E_.glif</string>
  <key>u103D_u103E.small</key>
  <string>u103D__u103E_.small.glif</string>
  <key>u104D</key>
  <string>u104D_.glif</string>
  <key>u1056</key>
  <string>u1056.glif</string>
  <key>u105B.med</key>
  <string>u105B_.med.glif</string>
  <key>u1077</key>
  <string>u1077.glif</string>
  <key>u1079</key>
  <string>u1079.glif</string>
  <key>u107B</key>
  <string>u107B_.glif</string>
  <key>u1086</key>
  <string>u1086.glif</string>
  <key>u1087</key>
  <string>u1087.glif</string>
  <key>u109F</key>
  <string>u109F_.glif</string>
  <key>uA9E0</key>
  <string>uA_9E_0.glif</string>
  <key>uA9E2</key>
  <string>uA_9E_2.glif</string>
  <key>uA9E5</key>
  <string>uA_9E_5.glif</string>
  <key>uAA63</key>
  <string>uA_A_63.glif</string>
  <key>uAA6E</key>
  <string>uA_A_6E_.glif</string>
  <key>uAA74</key>
  <string>uA_A_74.glif</string>
  <key>uAA76</key>
  <string>uA_A_76.glif</string>
  <key>uAA76.kham</key>
  <string>uA_A_76.kham.glif</string>
  <key>uAA7A</key>
  <string>uA_A_7A_.glif</string>
</dict>
</plist>
