<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>819</integer>
  <key>copyright</key>
  <string>Copyright (c) 2002-2010 SIL International.</string>
  <key>descender</key>
  <integer>-205</integer>
  <key>familyName</key>
  <string/>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>note</key>
  <string/>
  <key>openTypeHeadCreated</key>
  <string>2014/06/19 06:37:23</string>
  <key>openTypeHheaAscender</key>
  <integer>1010</integer>
  <key>openTypeHheaDescender</key>
  <integer>-500</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameCompatibleFullName</key>
  <string>Padauk Super Bold</string>
  <key>openTypeNameDesigner</key>
  <string>Debbi Hosken</string>
  <key>openTypeNameLicense</key>
  <string>Released under the Open Font License.</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>SIL</string>
  <key>openTypeNameManufacturerURL</key>
  <string>http://scripts.sil.org</string>
  <key>openTypeNameUniqueID</key>
  <string>SIL: Padauk Super Bold: 2010</string>
  <key>openTypeNameVersion</key>
  <string>Version 2.9</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>0</integer>
    <integer>7</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>262</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>52</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>214</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>300</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>214</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>214</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>300</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>214</integer>
  <key>openTypeOS2TypoAscender</key>
  <integer>1010</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-500</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2VendorID</key>
  <string>SIL </string>
  <key>openTypeOS2WeightClass</key>
  <integer>700</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1010</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>500</integer>
  <key>postscriptFontName</key>
  <string>PadaukBold</string>
  <key>postscriptFullName</key>
  <string>Padauk Bold</string>
  <key>postscriptUnderlinePosition</key>
  <integer>-450</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string/>
  <key>styleMapFamilyName</key>
  <string>Padauk Bold</string>
  <key>styleMapStyleName</key>
  <string>bold</string>
  <key>styleName</key>
  <string>Bold</string>
  <key>trademark</key>
  <string/>
  <key>capHeight</key>
  <integer>0</integer>
  <key>unitsPerEm</key>
  <integer>1024</integer>
  <key>xHeight</key>
  <integer>0</integer>
</dict>
</plist>
