<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1010</integer>
  <key>capHeight</key>
  <integer>0</integer>
  <key>copyright</key>
  <string>Copyright (c) 2002-2018 SIL International.</string>
  <key>descender</key>
  <integer>-500</integer>
  <key>familyName</key>
  <string>Padauk</string>
  <key>note</key>
  <string/>
  <key>openTypeHeadCreated</key>
  <string>2018/05/24 18:33:26</string>
  <key>openTypeHheaAscender</key>
  <integer>1010</integer>
  <key>openTypeHheaDescender</key>
  <integer>-500</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDescription</key>
  <string>Burmese Unicode 6 truetype font with OT and Graphite support</string>
  <key>openTypeNameDesigner</key>
  <string>Debbi Hosken</string>
  <key>openTypeNameDesignerURL</key>
  <string>http://scripts.sil.org/</string>
  <key>openTypeNameLicense</key>
  <string>Released under the Open Font License.</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>SIL</string>
  <key>openTypeNameManufacturerURL</key>
  <string>http://scripts.sil.org</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Padauk</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameUniqueID</key>
  <string>SIL: Padauk Regular: 2018</string>
  <key>openTypeNameVersion</key>
  <string>Version 3.004</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>0</integer>
    <integer>4</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>262</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>52</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>214</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>300</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>214</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>214</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>300</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>214</integer>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>1010</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-500</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>31</integer>
    <integer>38</integer>
    <integer>45</integer>
    <integer>74</integer>
    <integer>84</integer>
    <integer>91</integer>
    <integer>116</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>SIL </string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1010</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>500</integer>
  <key>postscriptFontName</key>
  <string>Padauk-Regular</string>
  <key>postscriptFullName</key>
  <string>Padauk</string>
  <key>postscriptUnderlinePosition</key>
  <integer>-450</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>Padauk</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string/>
  <key>unitsPerEm</key>
  <integer>1024</integer>
  <key>versionMajor</key>
  <integer>3</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>0</integer>
</dict>
</plist>
