<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1179</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/u103D_u1060.csh    /u1060  /u103E_u1060.csh    /u106D.csh  /u103E.slanth  /u102D/u1060 
/u103D  /u1006/u1038/u106D.csh/u1062/u1064/u106D  /u1064/u1005/u106D.csh  /u103C.wide/uA9E4/u103C.alt.wide/uA9E4 
/uA9E8/uA9FE  /u103C.wide/uA9E4/u102D  /uA9E8/u108D/uAA7C/uAA7D/u1019 
/u1000/u106D.csh  /u1000/u103B/u106D.csh  /u1000/u103B/u1030/u106D.csh  /u103C.wide/u1000/u102F/u106D.csh</string>
    <string>/u1000_u1001_u103B/u100B_u100B/u100D_u100D/u100F_u100B/u100F_u100D/u1014_u1010_u103B/u1014_u1010_u103C/u101E_u1010_u103C/u1020_u1020/u1001/u1005/u1006/u1007/u1008/u100D/u100F/u1013/u1016/u1019/u101B/u1020_u103E/u1021/u1023/u1026/u1027/u102A/u1031 
 /u103B_u103D   /u103B_u103D_u103E/u103C_u103D.alt.narr    /u1010_u103D.med  /u1050/u1051/u1054/u1055/u105A/u105C/u1076/u1077/u1079/u107B/u107C/u107D/u107E/u107F/u1080/u108E/uAA60/uAA63/uAA68/uAA69/uAA6A/uAA6B/uAA6D/uAA6E/uAA7E/uAA7F/u1031.aiph/u101B.alt  /uAA60.med.kham/u1019.kham/u1080.kham/uAA60.kham/u101B.long/u103C_u103D.alt.narr   /u1000/u102D/u1014/u1039/u1014   /u1000/u102F/u1017/u1039/u1017/u102E/u1038</string>
    <string>/u1001.med  /u1002.med   /u1003.med  /u1004.med  /u1005.med   /u1006.med  /u1007.med  /u1008.med/u1007/u1031/u1010/u1011/u1012 
 /u100A.med  /u100B.med   /u100C.med  /u100D.med  /u100E.med   /u100F.med   /u1010.med  /u1010_u103D.med/u100F/u100F.med  /u1018  /u102D  
/u1011.med  /u1012.med  /u1013.med  /u1014.med  /u1015.med  /u1016.med  /u1017.med/u101D/u1017/u1016/u100E/u107D/u1015   
/u1018.med  /u1019.med   /u101A.med  /u101B.med   /u101C.med   
 /u101C.med_u103D   /u101E.med   /u1021.med   /u1050.med 
 /u1051.med  /u105A.med  /u105B.med  /u105C.med   /uAA60.med</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>divisionslash</key>
    <string>uni2215</string>
    <key>euro</key>
    <string>Euro</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>guillemetleft</key>
    <string>guillemotleft</string>
    <key>guillemetright</key>
    <string>guillemotright</string>
    <key>idotless</key>
    <string>dotlessi</string>
    <key>micro</key>
    <string>uni00B5</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
  </dict>
</dict>
</plist>
