<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circledash</key>
  <string>circledash.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colontriangularmod</key>
  <string>colontriangularmod.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>graphemejoinercomb</key>
  <string>graphemejoinercomb.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotless</key>
  <string>idotless.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lefttorightembedding</key>
  <string>lefttorightembedding.glif</string>
  <key>lefttorightmark</key>
  <string>lefttorightmark.glif</string>
  <key>lefttorightoverride</key>
  <string>lefttorightoverride.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lineseparator</key>
  <string>lineseparator.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>narrownbspace</key>
  <string>narrownbspace.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nonbreakinghyphen</key>
  <string>nonbreakinghyphen.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>objectReplacementCharacter</key>
  <string>objectR_eplacementC_haracter.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraphseparator</key>
  <string>paragraphseparator.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>popdirectionalformatting</key>
  <string>popdirectionalformatting.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>replacementCharacter</key>
  <string>replacementC_haracter.glif</string>
  <key>righttoleftembedding</key>
  <string>righttoleftembedding.glif</string>
  <key>righttoleftmark</key>
  <string>righttoleftmark.glif</string>
  <key>righttoleftoverride</key>
  <string>righttoleftoverride.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u1000</key>
  <string>u1000.glif</string>
  <key>u1000.aiph</key>
  <string>u1000.aiph.glif</string>
  <key>u1000.kham</key>
  <string>u1000.kham.glif</string>
  <key>u1000.med</key>
  <string>u1000.med.glif</string>
  <key>u1000.sml</key>
  <string>u1000.sml.glif</string>
  <key>u1000_u1001_u103B</key>
  <string>u1000_u1001_u103B_.glif</string>
  <key>u1000_u103B_u1015_u103A</key>
  <string>u1000_u103B__u1015_u103A_.glif</string>
  <key>u1001</key>
  <string>u1001.glif</string>
  <key>u1001.med</key>
  <string>u1001.med.glif</string>
  <key>u1002</key>
  <string>u1002.glif</string>
  <key>u1002.med</key>
  <string>u1002.med.glif</string>
  <key>u1002.sml</key>
  <string>u1002.sml.glif</string>
  <key>u1003</key>
  <string>u1003.glif</string>
  <key>u1003.med</key>
  <string>u1003.med.glif</string>
  <key>u1004</key>
  <string>u1004.glif</string>
  <key>u1004.kham</key>
  <string>u1004.kham.glif</string>
  <key>u1004.kinzi</key>
  <string>u1004.kinzi.glif</string>
  <key>u1004.kinzi_u102D</key>
  <string>u1004.kinzi_u102D_.glif</string>
  <key>u1004.kinzi_u102D_u1036</key>
  <string>u1004.kinzi_u102D__u1036.glif</string>
  <key>u1004.kinzi_u102E</key>
  <string>u1004.kinzi_u102E_.glif</string>
  <key>u1004.kinzi_u1032</key>
  <string>u1004.kinzi_u1032.glif</string>
  <key>u1004.kinzi_u1033</key>
  <string>u1004.kinzi_u1033.glif</string>
  <key>u1004.kinzi_u1036</key>
  <string>u1004.kinzi_u1036.glif</string>
  <key>u1004.kinzi_u103A</key>
  <string>u1004.kinzi_u103A_.glif</string>
  <key>u1004.med</key>
  <string>u1004.med.glif</string>
  <key>u1005</key>
  <string>u1005.glif</string>
  <key>u1005.med</key>
  <string>u1005.med.glif</string>
  <key>u1005.sml</key>
  <string>u1005.sml.glif</string>
  <key>u1006</key>
  <string>u1006.glif</string>
  <key>u1006.med</key>
  <string>u1006.med.glif</string>
  <key>u1006.sml</key>
  <string>u1006.sml.glif</string>
  <key>u1007</key>
  <string>u1007.glif</string>
  <key>u1007.med</key>
  <string>u1007.med.glif</string>
  <key>u1007.sml</key>
  <string>u1007.sml.glif</string>
  <key>u1008</key>
  <string>u1008.glif</string>
  <key>u1008.med</key>
  <string>u1008.med.glif</string>
  <key>u1009</key>
  <string>u1009.glif</string>
  <key>u1009_u102C</key>
  <string>u1009_u102C_.glif</string>
  <key>u100A</key>
  <string>u100A_.glif</string>
  <key>u100A.alt</key>
  <string>u100A_.alt.glif</string>
  <key>u100A.med</key>
  <string>u100A_.med.glif</string>
  <key>u100A_u100A</key>
  <string>u100A__u100A_.glif</string>
  <key>u100B</key>
  <string>u100B_.glif</string>
  <key>u100B.alt</key>
  <string>u100B_.alt.glif</string>
  <key>u100B.med</key>
  <string>u100B_.med.glif</string>
  <key>u100B.sml</key>
  <string>u100B_.sml.glif</string>
  <key>u100B_u100B</key>
  <string>u100B__u100B_.glif</string>
  <key>u100B_u100C</key>
  <string>u100B__u100C_.glif</string>
  <key>u100C</key>
  <string>u100C_.glif</string>
  <key>u100C.med</key>
  <string>u100C_.med.glif</string>
  <key>u100D</key>
  <string>u100D_.glif</string>
  <key>u100D.med</key>
  <string>u100D_.med.glif</string>
  <key>u100D_u100D</key>
  <string>u100D__u100D_.glif</string>
  <key>u100D_u100E</key>
  <string>u100D__u100E_.glif</string>
  <key>u100E</key>
  <string>u100E_.glif</string>
  <key>u100E.med</key>
  <string>u100E_.med.glif</string>
  <key>u100F</key>
  <string>u100F_.glif</string>
  <key>u100F.med</key>
  <string>u100F_.med.glif</string>
  <key>u100F_u100B</key>
  <string>u100F__u100B_.glif</string>
  <key>u100F_u100D</key>
  <string>u100F__u100D_.glif</string>
  <key>u1010</key>
  <string>u1010.glif</string>
  <key>u1010.kham</key>
  <string>u1010.kham.glif</string>
  <key>u1010.med</key>
  <string>u1010.med.glif</string>
  <key>u1010.sml</key>
  <string>u1010.sml.glif</string>
  <key>u1010_u103D.med</key>
  <string>u1010_u103D_.med.glif</string>
  <key>u1010_u103D.med.tri</key>
  <string>u1010_u103D_.med.tri.glif</string>
  <key>u1011</key>
  <string>u1011.glif</string>
  <key>u1011.aiph</key>
  <string>u1011.aiph.glif</string>
  <key>u1011.med</key>
  <string>u1011.med.glif</string>
  <key>u1011.sml</key>
  <string>u1011.sml.glif</string>
  <key>u1012</key>
  <string>u1012.glif</string>
  <key>u1012.med</key>
  <string>u1012.med.glif</string>
  <key>u1012.sml</key>
  <string>u1012.sml.glif</string>
  <key>u1013</key>
  <string>u1013.glif</string>
  <key>u1013.med</key>
  <string>u1013.med.glif</string>
  <key>u1013.sml</key>
  <string>u1013.sml.glif</string>
  <key>u1014</key>
  <string>u1014.glif</string>
  <key>u1014.alt</key>
  <string>u1014.alt.glif</string>
  <key>u1014.med</key>
  <string>u1014.med.glif</string>
  <key>u1014_u1010_u103B</key>
  <string>u1014_u1010_u103B_.glif</string>
  <key>u1014_u1010_u103C</key>
  <string>u1014_u1010_u103C_.glif</string>
  <key>u1015</key>
  <string>u1015.glif</string>
  <key>u1015.kham</key>
  <string>u1015.kham.glif</string>
  <key>u1015.med</key>
  <string>u1015.med.glif</string>
  <key>u1015.sml</key>
  <string>u1015.sml.glif</string>
  <key>u1016</key>
  <string>u1016.glif</string>
  <key>u1016.med</key>
  <string>u1016.med.glif</string>
  <key>u1017</key>
  <string>u1017.glif</string>
  <key>u1017.med</key>
  <string>u1017.med.glif</string>
  <key>u1018</key>
  <string>u1018.glif</string>
  <key>u1018.med</key>
  <string>u1018.med.glif</string>
  <key>u1019</key>
  <string>u1019.glif</string>
  <key>u1019.kham</key>
  <string>u1019.kham.glif</string>
  <key>u1019.med</key>
  <string>u1019.med.glif</string>
  <key>u1019.sml</key>
  <string>u1019.sml.glif</string>
  <key>u101A</key>
  <string>u101A_.glif</string>
  <key>u101A.aiph</key>
  <string>u101A_.aiph.glif</string>
  <key>u101A.kham</key>
  <string>u101A_.kham.glif</string>
  <key>u101A.med</key>
  <string>u101A_.med.glif</string>
  <key>u101B</key>
  <string>u101B_.glif</string>
  <key>u101B.alt</key>
  <string>u101B_.alt.glif</string>
  <key>u101B.kham</key>
  <string>u101B_.kham.glif</string>
  <key>u101B.kinzi</key>
  <string>u101B_.kinzi.glif</string>
  <key>u101B.kinzi_u102D</key>
  <string>u101B_.kinzi_u102D_.glif</string>
  <key>u101B.kinzi_u102E</key>
  <string>u101B_.kinzi_u102E_.glif</string>
  <key>u101B.kinzi_u103A</key>
  <string>u101B_.kinzi_u103A_.glif</string>
  <key>u101B.long</key>
  <string>u101B_.long.glif</string>
  <key>u101B.med</key>
  <string>u101B_.med.glif</string>
  <key>u101C</key>
  <string>u101C_.glif</string>
  <key>u101C.aiph</key>
  <string>u101C_.aiph.glif</string>
  <key>u101C.kham</key>
  <string>u101C_.kham.glif</string>
  <key>u101C.med</key>
  <string>u101C_.med.glif</string>
  <key>u101C.med_u103D</key>
  <string>u101C_.med_u103D_.glif</string>
  <key>u101D</key>
  <string>u101D_.glif</string>
  <key>u101D.aiph</key>
  <string>u101D_.aiph.glif</string>
  <key>u101E</key>
  <string>u101E_.glif</string>
  <key>u101E.med</key>
  <string>u101E_.med.glif</string>
  <key>u101E.sml</key>
  <string>u101E_.sml.glif</string>
  <key>u101E_u1010_u103C</key>
  <string>u101E__u1010_u103C_.glif</string>
  <key>u101F</key>
  <string>u101F_.glif</string>
  <key>u101F.small</key>
  <string>u101F_.small.glif</string>
  <key>u1020</key>
  <string>u1020.glif</string>
  <key>u1020.long</key>
  <string>u1020.long.glif</string>
  <key>u1020_u1020</key>
  <string>u1020_u1020.glif</string>
  <key>u1020_u103E</key>
  <string>u1020_u103E_.glif</string>
  <key>u1021</key>
  <string>u1021.glif</string>
  <key>u1021.med</key>
  <string>u1021.med.glif</string>
  <key>u1022</key>
  <string>u1022.glif</string>
  <key>u1022.kham</key>
  <string>u1022.kham.glif</string>
  <key>u1023</key>
  <string>u1023.glif</string>
  <key>u1024</key>
  <string>u1024.glif</string>
  <key>u1025</key>
  <string>u1025.glif</string>
  <key>u1026</key>
  <string>u1026.glif</string>
  <key>u1027</key>
  <string>u1027.glif</string>
  <key>u1028</key>
  <string>u1028.glif</string>
  <key>u1029</key>
  <string>u1029.glif</string>
  <key>u102A</key>
  <string>u102A_.glif</string>
  <key>u102B</key>
  <string>u102B_.glif</string>
  <key>u102B_u103A</key>
  <string>u102B__u103A_.glif</string>
  <key>u102C</key>
  <string>u102C_.glif</string>
  <key>u102D</key>
  <string>u102D_.glif</string>
  <key>u102D_u1036</key>
  <string>u102D__u1036.glif</string>
  <key>u102D_uAA70</key>
  <string>u102D__uA_A_70.glif</string>
  <key>u102D_uAA7C</key>
  <string>u102D__uA_A_7C_.glif</string>
  <key>u102E</key>
  <string>u102E_.glif</string>
  <key>u102E_u1036</key>
  <string>u102E__u1036.glif</string>
  <key>u102E_uAA70</key>
  <string>u102E__uA_A_70.glif</string>
  <key>u102E_uAA7C</key>
  <string>u102E__uA_A_7C_.glif</string>
  <key>u102F</key>
  <string>u102F_.glif</string>
  <key>u102F.med</key>
  <string>u102F_.med.glif</string>
  <key>u102F_u108D</key>
  <string>u102F__u108D_.glif</string>
  <key>u1030</key>
  <string>u1030.glif</string>
  <key>u1030.med</key>
  <string>u1030.med.glif</string>
  <key>u1030_u108D</key>
  <string>u1030_u108D_.glif</string>
  <key>u1031</key>
  <string>u1031.glif</string>
  <key>u1031.aiph</key>
  <string>u1031.aiph.glif</string>
  <key>u1032</key>
  <string>u1032.glif</string>
  <key>u1032_u102D</key>
  <string>u1032_u102D_.glif</string>
  <key>u1032_u1036</key>
  <string>u1032_u1036.glif</string>
  <key>u1033</key>
  <string>u1033.glif</string>
  <key>u1034</key>
  <string>u1034.glif</string>
  <key>u1035</key>
  <string>u1035.glif</string>
  <key>u1036</key>
  <string>u1036.glif</string>
  <key>u1036.dot</key>
  <string>u1036.dot.glif</string>
  <key>u1037</key>
  <string>u1037.glif</string>
  <key>u1038</key>
  <string>u1038.glif</string>
  <key>u1038.dot</key>
  <string>u1038.dot.glif</string>
  <key>u1039</key>
  <string>u1039.glif</string>
  <key>u103A</key>
  <string>u103A_.glif</string>
  <key>u103A_u1036</key>
  <string>u103A__u1036.glif</string>
  <key>u103A_uAA70</key>
  <string>u103A__uA_A_70.glif</string>
  <key>u103B</key>
  <string>u103B_.glif</string>
  <key>u103B_u103D</key>
  <string>u103B__u103D_.glif</string>
  <key>u103B_u103D.tri</key>
  <string>u103B__u103D_.tri.glif</string>
  <key>u103B_u103D_u103E</key>
  <string>u103B__u103D__u103E_.glif</string>
  <key>u103B_u103D_u103E.tri</key>
  <string>u103B__u103D__u103E_.tri.glif</string>
  <key>u103B_u103E</key>
  <string>u103B__u103E_.glif</string>
  <key>u103C</key>
  <string>u103C_.glif</string>
  <key>u103C.alt.narr</key>
  <string>u103C_.alt.narr.glif</string>
  <key>u103C.alt.open.narr</key>
  <string>u103C_.alt.open.narr.glif</string>
  <key>u103C.alt.open.wide</key>
  <string>u103C_.alt.open.wide.glif</string>
  <key>u103C.alt.wide</key>
  <string>u103C_.alt.wide.glif</string>
  <key>u103C.open.narr</key>
  <string>u103C_.open.narr.glif</string>
  <key>u103C.open.wide</key>
  <string>u103C_.open.wide.glif</string>
  <key>u103C.wide</key>
  <string>u103C_.wide.glif</string>
  <key>u103C_u102F.alt.narr</key>
  <string>u103C__u102F_.alt.narr.glif</string>
  <key>u103C_u102F.alt.wide</key>
  <string>u103C__u102F_.alt.wide.glif</string>
  <key>u103C_u102F.narr</key>
  <string>u103C__u102F_.narr.glif</string>
  <key>u103C_u102F.wide</key>
  <string>u103C__u102F_.wide.glif</string>
  <key>u103C_u103D.alt.narr</key>
  <string>u103C__u103D_.alt.narr.glif</string>
  <key>u103C_u103D.alt.narr.tri</key>
  <string>u103C__u103D_.alt.narr.tri.glif</string>
  <key>u103C_u103D.alt.wide</key>
  <string>u103C__u103D_.alt.wide.glif</string>
  <key>u103C_u103D.alt.wide.tri</key>
  <string>u103C__u103D_.alt.wide.tri.glif</string>
  <key>u103C_u103D.narr</key>
  <string>u103C__u103D_.narr.glif</string>
  <key>u103C_u103D.narr.tri</key>
  <string>u103C__u103D_.narr.tri.glif</string>
  <key>u103C_u103D.wide</key>
  <string>u103C__u103D_.wide.glif</string>
  <key>u103C_u103D.wide.tri</key>
  <string>u103C__u103D_.wide.tri.glif</string>
  <key>u103D</key>
  <string>u103D_.glif</string>
  <key>u103D.sml</key>
  <string>u103D_.sml.glif</string>
  <key>u103D.tri</key>
  <string>u103D_.tri.glif</string>
  <key>u103D_u103E</key>
  <string>u103D__u103E_.glif</string>
  <key>u103D_u103E.small</key>
  <string>u103D__u103E_.small.glif</string>
  <key>u103D_u103E.small.tri</key>
  <string>u103D__u103E_.small.tri.glif</string>
  <key>u103D_u103E.tri</key>
  <string>u103D__u103E_.tri.glif</string>
  <key>u103D_u1060.csh</key>
  <string>u103D__u1060.csh.glif</string>
  <key>u103D_u108D</key>
  <string>u103D__u108D_.glif</string>
  <key>u103E</key>
  <string>u103E_.glif</string>
  <key>u103E.alt</key>
  <string>u103E_.alt.glif</string>
  <key>u103E.slanth</key>
  <string>u103E_.slanth.glif</string>
  <key>u103E.slantr</key>
  <string>u103E_.slantr.glif</string>
  <key>u103E_u102F</key>
  <string>u103E__u102F_.glif</string>
  <key>u103E_u102F.slanth</key>
  <string>u103E__u102F_.slanth.glif</string>
  <key>u103E_u102F.slantr</key>
  <string>u103E__u102F_.slantr.glif</string>
  <key>u103E_u1030</key>
  <string>u103E__u1030.glif</string>
  <key>u103E_u1030.slanth</key>
  <string>u103E__u1030.slanth.glif</string>
  <key>u103E_u1030.slantr</key>
  <string>u103E__u1030.slantr.glif</string>
  <key>u103E_u1060.csh</key>
  <string>u103E__u1060.csh.glif</string>
  <key>u103F</key>
  <string>u103F_.glif</string>
  <key>u1040</key>
  <string>u1040.glif</string>
  <key>u1041</key>
  <string>u1041.glif</string>
  <key>u1042</key>
  <string>u1042.glif</string>
  <key>u1043</key>
  <string>u1043.glif</string>
  <key>u1044</key>
  <string>u1044.glif</string>
  <key>u1045</key>
  <string>u1045.glif</string>
  <key>u1046</key>
  <string>u1046.glif</string>
  <key>u1047</key>
  <string>u1047.glif</string>
  <key>u1048</key>
  <string>u1048.glif</string>
  <key>u1049</key>
  <string>u1049.glif</string>
  <key>u104A</key>
  <string>u104A_.glif</string>
  <key>u104B</key>
  <string>u104B_.glif</string>
  <key>u104C</key>
  <string>u104C_.glif</string>
  <key>u104D</key>
  <string>u104D_.glif</string>
  <key>u104E</key>
  <string>u104E_.glif</string>
  <key>u104F</key>
  <string>u104F_.glif</string>
  <key>u1050</key>
  <string>u1050.glif</string>
  <key>u1050.med</key>
  <string>u1050.med.glif</string>
  <key>u1051</key>
  <string>u1051.glif</string>
  <key>u1051.med</key>
  <string>u1051.med.glif</string>
  <key>u1051_u100C</key>
  <string>u1051_u100C_.glif</string>
  <key>u1051_u100D</key>
  <string>u1051_u100D_.glif</string>
  <key>u1052</key>
  <string>u1052.glif</string>
  <key>u1053</key>
  <string>u1053.glif</string>
  <key>u1054</key>
  <string>u1054.glif</string>
  <key>u1055</key>
  <string>u1055.glif</string>
  <key>u1056</key>
  <string>u1056.glif</string>
  <key>u1057</key>
  <string>u1057.glif</string>
  <key>u1058</key>
  <string>u1058.glif</string>
  <key>u1059</key>
  <string>u1059.glif</string>
  <key>u105A</key>
  <string>u105A_.glif</string>
  <key>u105A.med</key>
  <string>u105A_.med.glif</string>
  <key>u105B</key>
  <string>u105B_.glif</string>
  <key>u105B.med</key>
  <string>u105B_.med.glif</string>
  <key>u105C</key>
  <string>u105C_.glif</string>
  <key>u105C.med</key>
  <string>u105C_.med.glif</string>
  <key>u105D</key>
  <string>u105D_.glif</string>
  <key>u105E</key>
  <string>u105E_.glif</string>
  <key>u105F</key>
  <string>u105F_.glif</string>
  <key>u1060</key>
  <string>u1060.glif</string>
  <key>u1061</key>
  <string>u1061.glif</string>
  <key>u1062</key>
  <string>u1062.glif</string>
  <key>u1062_u103A</key>
  <string>u1062_u103A_.glif</string>
  <key>u1063</key>
  <string>u1063.glif</string>
  <key>u1063_u103A</key>
  <string>u1063_u103A_.glif</string>
  <key>u1064</key>
  <string>u1064.glif</string>
  <key>u1065</key>
  <string>u1065.glif</string>
  <key>u1066</key>
  <string>u1066.glif</string>
  <key>u1067</key>
  <string>u1067.glif</string>
  <key>u1068</key>
  <string>u1068.glif</string>
  <key>u1069</key>
  <string>u1069.glif</string>
  <key>u106A</key>
  <string>u106A_.glif</string>
  <key>u106B</key>
  <string>u106B_.glif</string>
  <key>u106C</key>
  <string>u106C_.glif</string>
  <key>u106D</key>
  <string>u106D_.glif</string>
  <key>u106D.csh</key>
  <string>u106D_.csh.glif</string>
  <key>u106E</key>
  <string>u106E_.glif</string>
  <key>u106F</key>
  <string>u106F_.glif</string>
  <key>u1070</key>
  <string>u1070.glif</string>
  <key>u1071</key>
  <string>u1071.glif</string>
  <key>u1072</key>
  <string>u1072.glif</string>
  <key>u1073</key>
  <string>u1073.glif</string>
  <key>u1074</key>
  <string>u1074.glif</string>
  <key>u1075</key>
  <string>u1075.glif</string>
  <key>u1075.kham</key>
  <string>u1075.kham.glif</string>
  <key>u1076</key>
  <string>u1076.glif</string>
  <key>u1077</key>
  <string>u1077.glif</string>
  <key>u1078</key>
  <string>u1078.glif</string>
  <key>u1078.aiph</key>
  <string>u1078.aiph.glif</string>
  <key>u1078.kham</key>
  <string>u1078.kham.glif</string>
  <key>u1079</key>
  <string>u1079.glif</string>
  <key>u107A</key>
  <string>u107A_.glif</string>
  <key>u107A.aiph</key>
  <string>u107A_.aiph.glif</string>
  <key>u107B</key>
  <string>u107B_.glif</string>
  <key>u107C</key>
  <string>u107C_.glif</string>
  <key>u107D</key>
  <string>u107D_.glif</string>
  <key>u107E</key>
  <string>u107E_.glif</string>
  <key>u107F</key>
  <string>u107F_.glif</string>
  <key>u1080</key>
  <string>u1080.glif</string>
  <key>u1080.kham</key>
  <string>u1080.kham.glif</string>
  <key>u1081</key>
  <string>u1081.glif</string>
  <key>u1081.straight</key>
  <string>u1081.straight.glif</string>
  <key>u1082</key>
  <string>u1082.glif</string>
  <key>u1082_u108D</key>
  <string>u1082_u108D_.glif</string>
  <key>u1083</key>
  <string>u1083.glif</string>
  <key>u1084</key>
  <string>u1084.glif</string>
  <key>u1085</key>
  <string>u1085.glif</string>
  <key>u1085_uAA70</key>
  <string>u1085_uA_A_70.glif</string>
  <key>u1086</key>
  <string>u1086.glif</string>
  <key>u1086.kham</key>
  <string>u1086.kham.glif</string>
  <key>u1086_uAA70</key>
  <string>u1086_uA_A_70.glif</string>
  <key>u1086_uAA7C</key>
  <string>u1086_uA_A_7C_.glif</string>
  <key>u1087</key>
  <string>u1087.glif</string>
  <key>u1087.dot</key>
  <string>u1087.dot.glif</string>
  <key>u1088</key>
  <string>u1088.glif</string>
  <key>u1088.dot</key>
  <string>u1088.dot.glif</string>
  <key>u1089</key>
  <string>u1089.glif</string>
  <key>u1089.dot</key>
  <string>u1089.dot.glif</string>
  <key>u108A</key>
  <string>u108A_.glif</string>
  <key>u108A.dot</key>
  <string>u108A_.dot.glif</string>
  <key>u108B</key>
  <string>u108B_.glif</string>
  <key>u108C</key>
  <string>u108C_.glif</string>
  <key>u108D</key>
  <string>u108D_.glif</string>
  <key>u108E</key>
  <string>u108E_.glif</string>
  <key>u108F</key>
  <string>u108F_.glif</string>
  <key>u1090</key>
  <string>u1090.glif</string>
  <key>u1091</key>
  <string>u1091.glif</string>
  <key>u1092</key>
  <string>u1092.glif</string>
  <key>u1093</key>
  <string>u1093.glif</string>
  <key>u1094</key>
  <string>u1094.glif</string>
  <key>u1095</key>
  <string>u1095.glif</string>
  <key>u1096</key>
  <string>u1096.glif</string>
  <key>u1097</key>
  <string>u1097.glif</string>
  <key>u1098</key>
  <string>u1098.glif</string>
  <key>u1099</key>
  <string>u1099.glif</string>
  <key>u109A</key>
  <string>u109A_.glif</string>
  <key>u109A.dot</key>
  <string>u109A_.dot.glif</string>
  <key>u109B</key>
  <string>u109B_.glif</string>
  <key>u109B.dot</key>
  <string>u109B_.dot.glif</string>
  <key>u109C</key>
  <string>u109C_.glif</string>
  <key>u109D</key>
  <string>u109D_.glif</string>
  <key>u109E</key>
  <string>u109E_.glif</string>
  <key>u109F</key>
  <string>u109F_.glif</string>
  <key>u1700</key>
  <string>u1700.glif</string>
  <key>u200B</key>
  <string>u200B_.glif</string>
  <key>u200C</key>
  <string>u200C_.glif</string>
  <key>u200D</key>
  <string>u200D_.glif</string>
  <key>u2060</key>
  <string>u2060.glif</string>
  <key>uA92E</key>
  <string>uA_92E_.glif</string>
  <key>uA9E0</key>
  <string>uA_9E_0.glif</string>
  <key>uA9E1</key>
  <string>uA_9E_1.glif</string>
  <key>uA9E2</key>
  <string>uA_9E_2.glif</string>
  <key>uA9E3</key>
  <string>uA_9E_3.glif</string>
  <key>uA9E4</key>
  <string>uA_9E_4.glif</string>
  <key>uA9E5</key>
  <string>uA_9E_5.glif</string>
  <key>uA9E5_uAA7C</key>
  <string>uA_9E_5_uA_A_7C_.glif</string>
  <key>uA9E6</key>
  <string>uA_9E_6.glif</string>
  <key>uA9E7</key>
  <string>uA_9E_7.glif</string>
  <key>uA9E8</key>
  <string>uA_9E_8.glif</string>
  <key>uA9E9</key>
  <string>uA_9E_9.glif</string>
  <key>uA9EA</key>
  <string>uA_9E_A_.glif</string>
  <key>uA9EB</key>
  <string>uA_9E_B_.glif</string>
  <key>uA9EC</key>
  <string>uA_9E_C_.glif</string>
  <key>uA9ED</key>
  <string>uA_9E_D_.glif</string>
  <key>uA9EE</key>
  <string>uA_9E_E_.glif</string>
  <key>uA9EF</key>
  <string>uA_9E_F_.glif</string>
  <key>uA9F0</key>
  <string>uA_9F_0.glif</string>
  <key>uA9F1</key>
  <string>uA_9F_1.glif</string>
  <key>uA9F2</key>
  <string>uA_9F_2.glif</string>
  <key>uA9F3</key>
  <string>uA_9F_3.glif</string>
  <key>uA9F4</key>
  <string>uA_9F_4.glif</string>
  <key>uA9F5</key>
  <string>uA_9F_5.glif</string>
  <key>uA9F6</key>
  <string>uA_9F_6.glif</string>
  <key>uA9F7</key>
  <string>uA_9F_7.glif</string>
  <key>uA9F8</key>
  <string>uA_9F_8.glif</string>
  <key>uA9F9</key>
  <string>uA_9F_9.glif</string>
  <key>uA9FA</key>
  <string>uA_9F_A_.glif</string>
  <key>uA9FB</key>
  <string>uA_9F_B_.glif</string>
  <key>uA9FC</key>
  <string>uA_9F_C_.glif</string>
  <key>uA9FD</key>
  <string>uA_9F_D_.glif</string>
  <key>uA9FE</key>
  <string>uA_9F_E_.glif</string>
  <key>uAA60</key>
  <string>uA_A_60.glif</string>
  <key>uAA60.kham</key>
  <string>uA_A_60.kham.glif</string>
  <key>uAA60.med</key>
  <string>uA_A_60.med.glif</string>
  <key>uAA60.med.kham</key>
  <string>uA_A_60.med.kham.glif</string>
  <key>uAA61</key>
  <string>uA_A_61.glif</string>
  <key>uAA61.kham</key>
  <string>uA_A_61.kham.glif</string>
  <key>uAA62</key>
  <string>uA_A_62.glif</string>
  <key>uAA62.kham</key>
  <string>uA_A_62.kham.glif</string>
  <key>uAA63</key>
  <string>uA_A_63.glif</string>
  <key>uAA63.kham</key>
  <string>uA_A_63.kham.glif</string>
  <key>uAA64</key>
  <string>uA_A_64.glif</string>
  <key>uAA64.kham</key>
  <string>uA_A_64.kham.glif</string>
  <key>uAA65</key>
  <string>uA_A_65.glif</string>
  <key>uAA65.kham</key>
  <string>uA_A_65.kham.glif</string>
  <key>uAA66</key>
  <string>uA_A_66.glif</string>
  <key>uAA66.kham</key>
  <string>uA_A_66.kham.glif</string>
  <key>uAA67</key>
  <string>uA_A_67.glif</string>
  <key>uAA68</key>
  <string>uA_A_68.glif</string>
  <key>uAA69</key>
  <string>uA_A_69.glif</string>
  <key>uAA6A</key>
  <string>uA_A_6A_.glif</string>
  <key>uAA6B</key>
  <string>uA_A_6B_.glif</string>
  <key>uAA6B.kham</key>
  <string>uA_A_6B_.kham.glif</string>
  <key>uAA6C</key>
  <string>uA_A_6C_.glif</string>
  <key>uAA6C.alt</key>
  <string>uA_A_6C_.alt.glif</string>
  <key>uAA6C.kham</key>
  <string>uA_A_6C_.kham.glif</string>
  <key>uAA6D</key>
  <string>uA_A_6D_.glif</string>
  <key>uAA6E</key>
  <string>uA_A_6E_.glif</string>
  <key>uAA6F</key>
  <string>uA_A_6F_.glif</string>
  <key>uAA6F.kham</key>
  <string>uA_A_6F_.kham.glif</string>
  <key>uAA70</key>
  <string>uA_A_70.glif</string>
  <key>uAA71</key>
  <string>uA_A_71.glif</string>
  <key>uAA72</key>
  <string>uA_A_72.glif</string>
  <key>uAA73</key>
  <string>uA_A_73.glif</string>
  <key>uAA73.kham</key>
  <string>uA_A_73.kham.glif</string>
  <key>uAA74</key>
  <string>uA_A_74.glif</string>
  <key>uAA75</key>
  <string>uA_A_75.glif</string>
  <key>uAA75.kham</key>
  <string>uA_A_75.kham.glif</string>
  <key>uAA76</key>
  <string>uA_A_76.glif</string>
  <key>uAA76.kham</key>
  <string>uA_A_76.kham.glif</string>
  <key>uAA77</key>
  <string>uA_A_77.glif</string>
  <key>uAA78</key>
  <string>uA_A_78.glif</string>
  <key>uAA79</key>
  <string>uA_A_79.glif</string>
  <key>uAA7A</key>
  <string>uA_A_7A_.glif</string>
  <key>uAA7A.aiph</key>
  <string>uA_A_7A_.aiph.glif</string>
  <key>uAA7B</key>
  <string>uA_A_7B_.glif</string>
  <key>uAA7B.dot</key>
  <string>uA_A_7B_.dot.glif</string>
  <key>uAA7C</key>
  <string>uA_A_7C_.glif</string>
  <key>uAA7D</key>
  <string>uA_A_7D_.glif</string>
  <key>uAA7E</key>
  <string>uA_A_7E_.glif</string>
  <key>uAA7F</key>
  <string>uA_A_7F_.glif</string>
  <key>uFE00</key>
  <string>uF_E_00.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zeroWidthNoBreakSpace</key>
  <string>zeroW_idthN_oB_reakS_pace.glif</string>
</dict>
</plist>
